<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/dist.css' | relative_url }}">
</head>

<body class="bg-zinc-950 flex flex-col">
    <main class="grow">
        <nav class="border-white border-2 w-2/3 mx-auto my-4 px-4 py-2">
            <a href="#3" class="text-2xl text-white">The Gift Shop</a>
        </nav>

        <div class="fixed bg-[url('../images/blue_skies.jpg')] bg-cover bg-center w-full h-[50vh] -z-10"></div>

        <div class="h-fit mt-[55vh] ">
            <section class="bg-black backdrop-blur-sm border-2 border-white text-white h-fit w-2/3 mx-auto my-5 px-5 py-5">
                <h1 class="text-center text-6xl pb-4">Welcome to The Gift Shop!</h1>
                {{ content }}
            </section>
        </div>
    </main>

    <footer class="bg-zinc-800 h-1/3 w-full mt-10">
        <div class="flex justify-center-safe text-white w-2/3 mx-auto py-20">
            <div class="w-100">
                <h3 class="mb-4 text-2xl font-bold">Games</h3>
                <a href="#" class="block mb-2">Steam Link</a>
                <a href="#" class="block mb-2">Itch.io Link</a>
            </div>

            <div class="w-100">
                <h3 class="mb-4 text-2xl font-bold">Contact</h3>
                <a href="#" class="block mb-2">GitHub Link</a>
                <a href="#" class="block mb-2">Discord Link</a>
            </div>
        </div>
    </footer>
</body>

</html>