<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/dist.css' | relative_url }}">
    </head>

    <body class="flex flex-col bg-zinc-900 min-h-screen">
        <main class="flex flex-col flex-1 w-full lg:mx-auto lg:px-0">
            <nav class="w-full mb-[40vh] lg:mb-[50vh]">
                <div class="flex items-center bg-zinc-900 border-2 border-amber-100 text-center lg:text-start h-10 lg:h-15 w-auto lg:w-2/3 m-1 lg:mx-auto lg:my-2">
                    <a href="" class="text-amber-100 text-2xl font-bold w-full lg:ms-4">The Collection</a>
                </div>
            </nav>

            <img src="{{ page.hero_image }}" alt="Hero image" class="fixed object-cover object-center h-[40vh] lg:h-[70vh] w-full mt-12 lg:mt-19 -z-10">

            <section class="flex flex-col flex-1 bg-zinc-900 border-2 border-amber-100 text-amber-100 w-auto lg:w-2/3 m-1 lg:mx-auto lg:my-2 p-4 lg:px-8">
                <div class="text-justify">
                    {{ content }}
                </div>
            </section>
        </main>

        <footer class="w-full mt-20">
            <div class="bg-amber-100 w-full lg:w-2/3 lg:mx-auto p-8">
                <div class="grid grid-cols-2 lg:grid-cols-5 w-full gap-4">
                    <div class="flex flex-col lg:col-start-2">
                        <h3 class="text-lg font-bold mb-2">Store pages</h3>
                        <a href="#" class="hover:underline">Steam</a>
                        <a href="#" class="hover:underline">Itch.io</a>
                    </div>

                    <div class="flex flex-col">
                        <h3 class="text-lg font-bold mb-2">Support</h3>
                        <a href="#" class="hover:underline">Kofi</a>
                    </div>

                    <div class="flex flex-col">
                        <h3 class="text-lg font-bold mb-2">Links</h3>
                        <a href="#" class="hover:underline">GitHub</a>
                    </div>
                </div>

                <hr class="bg-zinc-900 my-8">
                
                <h5 class="text-center">KapKap Games</h5>
            </div>
        </footer>
    </body>
</html>